[submodule "libsnarklab/deps/libsnark"]
	path = libsnarklab/deps/libsnark
	url = https://github.com/scipr-lab/libsnark.git

[submodule "libioplab/deps/libiop"]
    path = libioplab/deps/libiop
    url = https://github.com/scipr-lab/libsnark.git